include README.md
recursive-include octoprint_marlingcodedocumentation/templates *
recursive-include octoprint_marlingcodedocumentation/translations *
recursive-include octoprint_marlingcodedocumentation/static *
