<div id="terminal-marlin-gcode-documentation">
    <!-- ko if: showHelp() -->
        <div id="terminal-marlin-gcode-documentation-help" class="alert alert-info">
            Enter a command to get documentation (eg 'G28'), or search by
            prepending with '?' (eg '?endstop')
            <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
    <!-- /ko -->
    <ul class="nav nav-tabs">
        <li data-bind="css: {active: activeCommandLineNumber() < 0}">
            <a href="#terminal-marlin-gcode-documentation-tab-favourites" data-toggle="tab" data-tab-index="-1">
                <span class="fa fa-star terminal-documentation-favourite"></span>
            </a>
        </li>
        <!-- ko foreach: searchResults() -->
            <li data-bind="css: {active: $root.activeCommandLineNumber() === $index()}">
                <a data-toggle="tab" data-bind="text: line, attr: {href: `#terminal-marlin-gcode-documentation-tab-${$index()}`, 'data-tab-index': $index()}"></a>
            </li>
        <!-- /ko -->
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="terminal-marlin-gcode-documentation-tab-favourites" data-bind="css: {active: activeCommandLineNumber() < 0}">
            <div class="btn-group">
                <!-- ko template: {name: "tmgd-docItemsVisibilityControls", data: {hasItems: !!favourites().length}} -->
                <!-- /ko -->
            </div>
            <!-- ko if: favourites().length -->
                <ul class="terminal-documentation-results">
                    <!-- ko foreach: favourites() -->
                        <li class="terminal-documentation-result">
                            <!-- ko template: {name: "tmgd-docItem", data: {...$data, parsedParameters: {}}} -->
                            <!-- /ko -->
                        </li>
                    <!-- /ko -->
                </ul>
            <!-- /ko --><!-- ko ifnot: favourites().length -->
                <div id="terminal-marlin-gcode-documentation-help" class="alert alert-info">
                    Favourite a command to see it here (click on the
                    <span class="fa fa-star-o terminal-documentation-favourite"></span>)
                </div>
            <!-- /ko -->
        </div>
        <!-- ko foreach: searchResults() -->
            <div class="tab-pane" data-bind="attr: {id: `terminal-marlin-gcode-documentation-tab-${$index()}`}, css: {active: $root.activeCommandLineNumber() === $index()}">
                <div class="btn-group">
                    <!-- ko template: {name: "tmgd-docItemsVisibilityControls", data: {hasItems: !!docItems.length}} -->
                    <!-- /ko -->
                </div>
                <!-- ko if: docItems.length -->
                    <ul class="terminal-documentation-results">
                        <!-- ko foreach: docItems -->
                            <!-- ko template: {name: "tmgd-docItem", data: {...$data, parsedParameters: $parent.parsedParameters}} -->
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: extraResultsCount -->
                            <li><span data-bind="text: extraResultsCount"></span> more items</li>
                        <!-- /ko -->
                    </ul>
                <!-- /ko --><!-- ko ifnot: docItems.length -->
                    <!-- ko ifnot: isEmpty -->
                        <!-- ko if: isSearch -->
                            <div class="alert alert-block">Unable to find anything</div>
                        <!-- /ko --><!-- ko ifnot: isSearch -->
                            <div class="alert alert-error">Unknown command</div>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        <!-- /ko -->
    </div>
</div>

<script type="text/html" id="tmgd-docItemsVisibilityControls">
    <!-- ko if: hasItems -->
        <button class="btn" data-bind="click: $root.onToggleResultCollapsedNone"><span class=" fa fa-plus"></span>Expand all</button>
        <button class="btn" data-bind="click: $root.onToggleResultCollapsedAll"><span class=" fa fa-minus"></span>Collapse all</button>
    <!-- /ko -->
    <!-- ko if: $root.showSourcesCheckboxes -->
    <label class="checkbox inline terminal-documentation-source terminal-documentation-source-marlin">
        <input type="checkbox" data-bind="checked: $root.includeSourceMarlin">
        Marlin
    </label>
    <label class="checkbox inline terminal-documentation-source terminal-documentation-source-reprap">
        <input type="checkbox" data-bind="checked: $root.includeSourceRepRap">
        RepRap
    </label>
    <label class="checkbox inline terminal-documentation-source terminal-documentation-source-klipper">
        <input type="checkbox" data-bind="checked: $root.includeSourceKlipper">
        Klipper
    </label>
    <!-- /ko -->
    <!-- ko if: !$root.showSourcesCheckboxes() -->
        <label style="display: inline-block" data-bind="text: `${$root.includedSources().length}/${$root.allSources.length} sources`"></label>
    <!-- /ko -->
</script>

<script type="text/html" id="tmgd-docItem">
    <li class="terminal-documentation-result">
        <a class="pointer fa" data-bind="css: {'fa-plus': $root.collapsedCommands().includes(docItem.id), 'fa-minus': !$root.collapsedCommands().includes(docItem.id)}, click: $root.onToggleResultCollapsed"></a>
        <span class="terminal-documentation-command" data-bind="text: command, click: $root.onUseFavourite" title="Use command"></span>:
        <a class="fa fa-external-link-alt terminal-documentation-source" target="_blank" data-bind="css: {[`terminal-documentation-source-${docItem.source.toLowerCase()}`]: true}, attr: {href: docItem.url, title: `Visit ${docItem.source} documentation`}"></a>
        <span class="fa terminal-documentation-favourite" data-bind="click: $root.toggleFavourite, css: {'fa-star': $root.favouriteCommands().includes(docItem.id), 'fa-star-o': !$root.favouriteCommands().includes(docItem.id)}"></span>
        <span data-bind="text: docItem.title"></span>:
        <span data-bind="text: docItem.brief"></span>
        <!-- ko if: !$root.collapsedCommands().includes(docItem.id) -->
            <ul class="terminal-documentation-result-parameters">
                <!-- ko foreach: docItem.parameters -->
                    <!-- ko template: {name: "tmgd-parameter", data: {...$data, parsedParameters: $parent.parsedParameters}} -->
                    <!-- /ko -->
                <!-- /ko -->
            </ul>
        <!-- /ko -->
    </li>
</script>

<script type="text/html" id="tmgd-parameter">
    <li
            class="terminal-documentation-result-parameter"
            data-bind="css: {required: !optional, missing: !parsedParameters[tag]}"
    >
        <pre class="terminal-documentation-parameter-tag" data-bind="text: label"></pre>
        <pre class="terminal-documentation-parameter-value" data-bind="text: (parsedParameters[tag] || [' ']).join(', ')"></pre>
        <span class="terminal-documentation-parameter-description" data-bind="text: description"></span>
    </li>
</script>
