<form class="form-horizontal">
    <legend>Documentation Sources</legend>
    <div class="control-group">
        <div>
            <label class="checkbox">
                Show documentation sources checkboxes in terminal
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.show_sources_checkboxes">
            </label>
        </div>
        <div>
            <label class="checkbox">
                Include Gcode Documentation from <a href="https://marlinfw.org/meta/gcode/" target="_blank">Marlin</a>
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.include_source_marlin">
            </label>
        </div>
        <div>
            <label class="checkbox">
                Include Gcode Documentation from <a href="https://reprap.org/wiki/G-code#G-commands" target="_blank">RepRap</a>
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.include_source_reprap">
            </label>
        </div>
        <div>
            <label class="checkbox">
                Include Gcode Documentation from <a href="https://www.klipper3d.org/G-Codes.html" target="_blank">Klipper</a>
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.include_source_klipper">
            </label>
        </div>
    </div>
    <legend>Appearance</legend>
    <div class="control-group">
        <label class="control-label">Documentation position:</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.marlingcodedocumentation.documentation_position">
                <option value="above_settings">Above settings</option>
                <option value="below_settings">Below settings</option>
            </select>
        </div>
        <div>
            <label class="checkbox">
                Show help
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.show_help">
            </label>
        </div>
        <div>
            <label class="checkbox">
                Collapse all by default
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.collapse_all_by_default">
            </label>
        </div>
    </div>
    <legend>Functionality</legend>
    <div class="control-group">
        <div>
            <label class="checkbox">
                Add links to sent commands in terminal to get documentation. Requires
                <a href="https://github.com/jeffeb3/OctoPrint-TerminalMessaging">Terminal Messaging</a> plugin to be installed
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.explain_sent_commands">
            </label>
        </div>
    </div>
    <legend>Documentation updates</legend>
    <div class="control-group">
        <div>
            <p>
                Documentation is automatically generated by crawling the
                documentation pages of the firmwares supported, and is normally
                compiled every 1st of the month by
                <a href="https://github.com/costas-basdekis/gcode-documentation-parser" target="_blank">gcode-documentation-parser</a>.
            </p>
            <p>
                This plugin tries to fetch a new copy every month, to stay up
                to date with new functionality added, and tries to do it on a
                random day to avoid crowding the source.
            </p>
        </div>
        <div>
            <label class="checkbox">
                Update documentation every month
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.update_documentation_monthly">
            </label>
        </div>
        <div>
            <label>
                Day of the month to update documentation (random default)
                <input type="number" min="1" max="28" data-bind="value: settings.plugins.marlingcodedocumentation.update_documentation_day" style="width: 3em">
            </label>
        </div>
        <div>
            <label>
                Documentation URL
                <input type="url" data-bind="value: settings.plugins.marlingcodedocumentation.update_documentation_url" id="settings-update_documentation_url" style="width: 50em">
            </label>
            <br/>
            <button type="button" data-bind="click: marlinGcodeDocumentation.onResetUrlToDefault">Reset to default URL</button>
            <br/>
            Normally documentation is compiled monthly by
            <a href="https://github.com/costas-basdekis/gcode-documentation-parser" target="_blank">gcode-documentation-parser</a>
        </div>
        <div>
            Last updated on:
            <span data-bind="text: settings.plugins.marlingcodedocumentation.update_documentation_last_update">
            </span>
            <br />
            If you want to fetch the documentation now:
            <button type="button" data-bind="click: marlinGcodeDocumentation.onUpdateDocumentation">Update cache from documentation URL</button>
            <br />
            If you think you're seeing old documentation data, and don't want to restart Octoprint:
            <button type="button" data-bind="click: marlinGcodeDocumentation.refreshDocumentation">Reload data from cache</button>
        </div>
    </div>
</form>
