<form class="form-horizontal">
    <legend>Documentation Sources</legend>
    <div class="control-group">
        <div>
            <label class="checkbox">
                Show documentation sources checkboxes in terminal
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.show_sources_checkboxes">
            </label>
        </div>
        <div>
            <label class="checkbox">
                Include Gcode Documentation from <a href="https://marlinfw.org/meta/gcode/" target="_blank">Marlin</a>
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.include_source_marlin">
            </label>
        </div>
        <div>
            <label class="checkbox">
                Include Gcode Documentation from <a href="https://reprap.org/wiki/G-code#G-commands" target="_blank">RepRap</a>
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.include_source_reprap">
            </label>
        </div>
        <div>
            <label class="checkbox">
                Include Gcode Documentation from <a href="https://www.klipper3d.org/G-Codes.html" target="_blank">Klipper</a>
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.include_source_klipper">
            </label>
        </div>
    </div>
    <legend>Appearance</legend>
    <div class="control-group">
        <label class="control-label">Documentation position:</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.marlingcodedocumentation.documentation_position">
                <option value="above_settings">Above settings</option>
                <option value="below_settings">Below settings</option>
            </select>
        </div>
        <div>
            <label class="checkbox">
                Show help
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.show_help">
            </label>
        </div>
        <div>
            <label class="checkbox">
                Collapse all by default
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.collapse_all_by_default">
            </label>
        </div>
    </div>
    <legend>Functionality</legend>
    <div class="control-group">
        <div>
            <label class="checkbox">
                Add links to sent commands in terminal to get documentation. Requires
                <a href="https://github.com/jeffeb3/OctoPrint-TerminalMessaging">Terminal Messaging</a> plugin to be installed
                <input type="checkbox" data-bind="checked: settings.plugins.marlingcodedocumentation.explain_sent_commands">
            </label>
        </div>
    </div>
</form>
