.terminal-documentation-results {
    overflow-y: auto;
    resize: vertical;
    height: 353px;
    padding-left: 20px;
}

.terminal-documentation-command {
    color: #ACF;
    background-color: #226;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: "Oxygen Mono", monospace;
    display: inline-block;
}

.terminal-documentation-parameter-tag {
    color: #ADF;
    background: #246;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: "Oxygen Mono", monospace;
    display: inline-block;
}

.terminal-documentation-parameter-value {
    color: #ADF;
    background: #264;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: "Oxygen Mono", monospace;
    display: inline-block;
}

.terminal-documentation-result-parameter.missing .terminal-documentation-parameter-value {
    background: #666;
}

.terminal-documentation-result-parameter.required.missing .terminal-documentation-parameter-value {
    background: #b42;
}

.pointer {
    cursor: pointer;
}

.terminal-documentation-source:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100%;
    vertical-align: middle;
    margin: 5px;
}

.terminal-documentation-source.terminal-documentation-source-marlin:after {
    background-image: url(/plugin/marlingcodedocumentation/static/img/marlin.ico);
}

.terminal-documentation-source.terminal-documentation-source-reprap:after {
    background-image: url(/plugin/marlingcodedocumentation/static/img/reprap.ico);
}

.themeify .alert.alert-info .close {
    color: #000000;
}
